h1{
    font-size: 50px;
}

h1, div.bas-de-page, div.biography {
    text-align: center;
}

h1.moi::first-letter{
    color: red;
}

h1.moi{
    font-family: "Floydian";
    font-size: 75px;
}


h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: 30px;
}


span.nom {
    font-size: 40px;
    font-weight: bold;
}

span.info, span.info-complement {
    font-size: 20px;
}

span.info-complement{
    margin: 80px;
}

span.link:hover, a.link:hover{
    background-color: greenyellow;
}


p.Diplome, p.Interet{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

p.translation{
    text-align: right;
}

p.Entreprises {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

p.Date {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
}

p.detail-parcours, p.detail-interet, span.detail-parcours {
    margin-top: 0px;
    margin-bottom: 0px;
}

p.Competences{
    font-family: "RaceSport";
    font-size: 35px;
    text-align: center;
}   


p.centres-interet{
    font-family: "AC-DC-transp";
    font-size: 45px;
    text-align: center;
}


img.profil {
    background-image: url(images/wood-texture-3.jpeg);
    padding: 10px;
    display: inline-block;
    margin: 0px auto
}

img.company{
    height: 80px;
}

img.company:hover{
    border: 2px solid purple;
}


/* Biographie */

div.biography{
    background-image: url(images/theater-curtains.png);
    background-size: auto;
}


div.biography-title{
    margin-top: 250px;
}


div.detail-biography{
    margin-bottom: 10px;
}


/* CV */

div.haut-page{
    background-image: url(images/The_Wall_transp.png);
}

div.header{
    margin : auto;
}

div.en-tete {
    text-align: center;
    display: inline-block;
} 

div.partie-gauche{
    height: 90vh;
    overflow: auto;
}

div.Competences{
    background-image: url(images/Brain-learning2-trsp.png);
    background-size: contain;
    background-repeat: no-rep0 0 no-repeat;
}

div.School {
    background-image: url(images/oak-natural-allegro-plaat-5.jpg);
    padding: 10px;
}

div.parcours-school{
    background-image: url(images/school-board_large.jpg); 
    font-family: "ChangeTomorrowToday";
    background-size: cover;
    color: whitesmoke;
    padding: 5px;
}

div.parcours-school > p.body-block{
    font-family: "LittleBird";
    background: none;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
}

div.Interets{
    background-image: url(images/Alyssa-White-Gluz.png);
    background-size: cover;
    padding: 10px;
}

div.en-tete-droite{
    margin-top: 50px;
    text-align: center; 
    align-items: center;
}

div.company{
    width: 500px;
    text-align: left;
    display: inline-block;
}


#parcours{
    height: 70vh;
    overflow: auto;
    background-image: url(images/Archer_Suit.png);
    border-bottom: 1px solid grey;
}

#parcours>p.body-block{
    font-family: "AlexBrush";
    font-size: 45px;
}


@font-face {
    font-family: "LittleBird";
    src: url("fonts/LittleBird.ttf") format("truetype");}

@font-face {
    font-family: "Floydian";
    src: url("fonts/floyd.ttf") format("truetype");
   }

@font-face {
    font-family: "ChangeTomorrowToday";
    src: url("fonts/ChangeTomorrowToday.ttf") format("truetype");
   }

@font-face {
    font-family: "AC-DC";
    src: url("fonts/squealer.ttf") format("truetype");
    }

@font-face {
    font-family: "AC-DC-transp";
    src: url("fonts/squealer embossed.ttf") format("truetype");
}

@font-face {
    font-family: "RaceSport";
    src: url("fonts/RaceSport.ttf") format("truetype");
    }
   
@font-face {
    font-family: "AlexBrush";
    src: url("fonts/AlexBrush-Regular.ttf") format("truetype");
    }

@media (max-width: 1080px){
    div.biography{
        background-image: url(images/theater-curtains.png);
        background-size: contain;
    }

    div.biography-title{
        margin-top: 100px;
    }
}

@media (max-width: 800px){
body{
    border: 5px solid red
}

    div.biography{
        background-image: none;
    }

    div.biography-title{
        margin-top: 10px;
    }
}